body[data-aos-duration="400"] [data-aos] {
  transition-duration: 1s !important;
}
.aos-hidden {
  overflow: hidden;
}
.navbar {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.navbar .nav-item {
  font-size: 18px;
  color: #1F2E35CC;
}
.copyright {
  background-color: #EE4248;
}
.section-padding {
  padding: 50px 0px;
}
p {
  color: #263238;
  font-size: 18px;
}
h1 {
  font-size: 45px;
}
@media (max-width: 991px) {
  h1 {
    font-size: 31px;
  }
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
.spanred-color {
  color: #EE4248;
}
.readmore-btn {
  border: none;
  padding: 8px 30px;
  color: white;
  background: #EE4248;
  font-size: 18px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #85171A;
  transition: 1s;
  transition-timing-function: ease-out;
}
.readmore-btn:hover {
  box-shadow: inset 250px 0 0 0 #85171A;
}
.hero-section {
  padding: 50px 0px;
}
.responsive-footercols-bottom {
  padding-bottom: 30px;
}
@media (max-width: 760px) {
  .responsive-footercols-bottom img:nth-child(3) {
    width: 100%;
  }
  .responsive-footercols-bottom:nth-last-child(1) img {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .column-reverse {
    flex-direction: column-reverse;
    text-align: center;
  }
  .column-reverse img {
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .column-reverse img {
    width: 100%;
  }
  .column-reverse h1 {
    padding-bottom: 0px !important;
  }
}
.welcome-dsi {
  background-color: #F6F6F6;
  padding: 50px 0px;
}
@media (max-width: 768px) {
  .welcome-dsi h2 {
    text-align: center;
  }
}
.product-and-service {
  padding: 50px 0px;
}
@media (max-width: 991px) {
  .product-and-service {
    text-align: center;
  }
}
.product-and-service .col-md-4:not(:last-child) {
  padding-bottom: 30px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../images/hamburger.png");
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}
